/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

/* body::after {
  body {
    background: url("candy.gif") repeat-y 100% 100% fixed;
    height: 100%;
    width: 100%;
  }
} */

body {
  background-image: url(https://media.giphy.com/media/rlxvBFLZda9vW/giphy.gif);
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0;
}

nav {
  align-items: center;
  background-color: #ffd400;
  color: #d90368;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-between;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  color: white;
  font-size: 20px;
}
